.header-box {
    grid-area: header;
    background-color: rgb(23, 64, 139);
    display: grid;
    min-width: 100%;
    grid-template-areas: 
    'logo home portfolio signup login';
    max-height: 60px;
    justify-content: end;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.logo {
    margin-left: 2%;
    margin-top: 2px;
    background-image: url('https://cdn1.imggmi.com/uploads/2019/12/4/1b295ec64efe199417b0c0663a26b333-full.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 170px;

}

.quick-account-info {
    grid-area: login;
    height: 60px;
    width: 180px;
    color: white;
    background-color: rgb(23, 64, 139);
    font-size: 0.8rem;
    font-weight: 400;
    /* justify-self: end; */
}

.quick-account-info p {
    margin-left: 5%;
    margin-top: 11%;
    line-height: 0.1rem;
}



@media only screen and (max-width: 600px) {
    .header-box {
        justify-content: stretch;
        grid-template-areas: 
        'logo   logo'
        'signup login'
        'home   portfolio';
    }
  }
