.login-box {
    grid-area: header;
    z-index: 10;
    width: 10%;
    justify-self: end;
    align-self: center;
}

.login-form {
    display: inline-block;
    z-index: 999;
}

.username {
    float: right;
}

.password {
    float: right;
}

.login-btn {
    float: right;
}

.cancel-btn {
    float: right;
}