.portfolio-container {
    margin-left: 5%;
    grid-area: standings;
    width: 150vh;
}

.portfolio-box {
    height: 90vh;
    overflow-y: scroll;
}

.portfolio-table {
    background-color: white;
    border-spacing: 0 5px;
    border-collapse: separate;
    width: 100%;
    overflow: scroll;
    max-height: 90vh;
}

.portfolio-table th {
    font-family: Helvetica, sans-serif;
    border-bottom: 1px solid rgba(23, 64, 139, 0.4);
    font-weight: 500;
    padding: 0.5% 0%;
}