.signup-container {
    grid-area: livebox;
    width: 62vh;
    align-content: space-between;
    border: 2px rgba(23, 64, 139, 0.7) solid;
    display: flex;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 3%;
    margin-left: 20%;
    border-radius: 15px;
    height: 75vh;
    flex-direction: column;
}

.register-header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 11vh;
}

.signup-form p {
    float: right;
    width: 14vh;
    margin-right: 3px;
}

.signup-form {
    display: grid;
    width: 350px;
    align-items: center;
    font-family: Helvetica, sans-serif;
    color: rgb(48, 48, 48);
    font-size: 0.9em;
}

.signup-form label {
    width: 61vh;
}

.signup-form input {
    float: left;
    width: 42vh;
    margin-right: 10px;
    margin-left: 10px;
    height: 25px;
}

.signup-form input[type=submit] {
    width: 58vh;
    height: 8vh;
    border: none;
    border-radius: 4px;
    background-color: rgba(23, 64, 139, 1);
    color: white;
    font-size: 20px;
}

.signup-form button {
    width: 58vh;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 8vh;
    border-radius: 4px;
    background-color: rgba(201, 8, 42, 1);
    border: none;
    color: white;
    font-size: 20px;
}

.signup-form button:hover {
    background-color: rgba(201, 8, 42, 0.7);
}

.signup-form button:active {
    background-color: rgba(201, 8, 42, 0.2);
}

.signup-form input[type=submit]:hover {
    background-color: rgba(23, 64, 139, 0.7);
}

.signup-form input[type=submit]:active {
    background-color: rgba(23, 64, 139, 0.2);
}

button:focus {
    outline: none;
}

