body {
  background-image: url('https://i.ibb.co/Hr5sCQf/New-Project.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-box {
  display: grid;
  width: 100%;
  grid-gap: 30px;
  grid-template-areas: 
    'header    header   header'
    'standings livebox  stats'
    'standings livebox  stats';
    grid-template-columns: 1fr 2fr 1fr;
}

@media only screen and (max-width: 900px) {
  .grid-box {
    grid-template-areas: 
      'header     header'
      'standings  livebox'
      'stats      stats';
  }
}

@media only screen and (max-width: 600px) {
  .grid-box {
    grid-template-areas:
      'header'
      'livebox'
      'stats'
      'standings';
    }
}
